body {
  margin: 0;
  font-family: 'Arimo', sans-serif;
  background-color: #eef3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ===== CONTENEDOR PRINCIPAL ===== */
.login-page {
  display: flex;
  width: 70%;
  max-width: 900px;
  background-color: #eef3ff;
  overflow: hidden;
}

/* ===== PANEL IZQUIERDO ===== */
.info-panel {
  flex: 1;
  position: relative;
  background-color: #eef3ff;
  flex-direction: column;
  justify-content: center;
  color: #000;
  margin-right: 30px;
  overflow: hidden;
}

.background-img {
  position: relative;
  width: 100%;
  height: 50%;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  object-fit: cover;
  filter: brightness(0.65);
}

.info-content {
  position: relative;
  z-index: 1;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

input{
  border: none;
  background-color: #f2f4ff;
  padding: 10px;             
  border-radius: 8px;
}

.description {
  color: #333;
  font-size: 15px;
  margin-bottom: 30px;
}

.stats {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.stat {
  text-align: center;
}

.stat h2 {
  font-size: 24px;
  margin: 0;
}

.stat p {
  font-size: 14px;
  margin-top: 4px;
}

/* ===== PANEL DERECHO ===== */
.login-card {
  flex: 1;
  background-color: white;
  padding: 40px;
  margin: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card-header {
  text-align: center;
  margin-bottom: 25px;
}

.hospital-logo {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
}

.login-form label {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 14px;
}

.login-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.remember {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 13px;
}

.btn {
  background-color: #030213;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.links {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}

.links a {
  color: #4b0082;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

/* ===== RESPONSIVE DESIGN ===== */
@media (max-width: 900px) {
  .login-page {
    flex-direction: column;
    width: 95%;
    height: auto;
  }

  .info-panel {
    height: 250px;
    padding: 20px;
    align-items: center;
    text-align: center;
  }

  .stats {
    justify-content: center;
  }

  .login-card {
    padding: 30px 20px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 22px;
  }

  .description {
    font-size: 14px;
  }

  .login-form input {
    font-size: 13px;
  }

  .btn {
    font-size: 14px;
  }
}
