body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--color-fondo);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #0ea5e9a1, #ffffff);
}

.targeta {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
}